{
    "AddHomeAssistantDevices": [],
    "HomeAssistantAction": [],
    "HomeAssistantState": [],
    "HomeAssistantSun": [],
    "GetIpOfDevice": [],
    "CreateIntent": [],
    "UserIntent": [],
    "LightControl": []
}